@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline-width: 0;
  border-width: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}
