:root {
  --white: hsl(0, 0%, 100%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --grayish-blue: hsl(212, 23%, 69%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
}
