.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.user-info__user-img {
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.user-info__user-name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}
